#logo { content: url('logo.gif'), contents; }

#content {
		width: 515px;
}

#content ul.nav {
		list-style: none;
		display: block;
		width: 100%;
}

#content ul.nav li {
		display: block;
		float: left;
		margin: 0 2em 0 0;
}

#content ul.nav li a {
		text-decoration:none;
		display:block;
		padding:0.3em 0.5em;
}
