/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styling */

body {
		font: 75% courier, monospace;
		line-height: 1.9;
}

p { text-align: justify; }

a { color: #696969; }

a:link {
   font-weight: bold;
   text-decoration: none;
	 color: #696969;
}
a:visited {
   font-weight: bold;
   text-decoration: none;
	 color: #696969;
}
a:hover, a:active {
	  text-decoration: none;
	  color: #961a1a
}

#box-wrap {
	margin: auto;
	width:px;
}

#header {
		margin-top: 25px;
		margin-bottom: 35px;
}

#content, #navigation {
		width: 515px;
		float: right;
}

#textbox {
		width: 194px;
		margin-top: 195px;
		float: left;
}

#navigation ul.nav {
		list-style: none;
		display: block;
		width: 100%;
}

#navigation ul.nav li {
		display: block;
		float: left;
		margin: 0 2em 0 0;
}

#navigation ul.nav li a {
		text-decoration:none;
		display:block;
		padding-right: 0.5em;
		font-size: 1.5em;		
}

.left { float: left; }
.right { float: left; }

