<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{% block title %}Hitchhiking{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="http://www.mariazendre.org/media/css/styles.css" />
    </head>
    <body>
        <div id="box-wrap">
            <div id="header">
                <a href="http://mariazendre.org/hitchhiking/" alt="Home"><img src="/media/img/logo.gif" width="348" height="43" alt="Hitchhiking" /></a>
            </div> <!-- div id="header" -->
            <div id="content">
                {% block navigation %}
                <ul class="nav">
                    <li><a href="http://mariazendre.org/hitchhiking/archive/">Past itineraries</a></li>
                    <li><a href="http://mariazendre.org/hitchhiking/about/">About</a></li>
                    <li><a href="http://mariazendre.org/hitchhiking/bios/">Bios</a></li>
                    <li><a href="http://mariazendre.org/hitchhiking/contact/">Contact</a></li>
                </ul>
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div> <!-- div id="content" -->
            {% block textbox %}
            {% endblock %}
        </div> <!-- div id="box-wrap" -->
    </body>
</html>

