<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Maria Zendrera</title>
        <link rel="stylesheet" type="text/css" href="http://media.mariazendre.org/media/css/styles.css" />
    </head>
    <body>
        <div id="box-wrap">
            <div id="teaser">
                <div class="teaserelem"><a href="http://mariazendre.org/hitchhiking/">
                    <h1>Hitchhiking Project</h1>
                    <img src="http://media.mariazendre.org/media/img/koffer.jpg" width="140px" height="132px" /></a>
                </div>
                <div class="teaserelem"><a href="#">
                    <h1>Woman Not Included</h1>
                    <img src="http://media.mariazendre.org/media/img/marktplaats_teaser.jpg" width="140px" height="151px" /></a>
                </div>
            </div> <!-- div teaser -->
            <div id="home_menu">
                <a href="#">Portofolio</a> / <a href="#">CV</a> / <a href="#">Contact</a>
            </div> <!-- div home_menu -->
                <div id="footer">
                </div> <!-- div footer -->
        </div> <!-- div id="box-wrap" -->

        <!-- Load javascript at the end of the page to increase speed of site. See 'High Performance JavaScript'. -->
        <script language="JavaScript" type="text/javascript" src="http://media.mariazendre.org/media/js/lib/jquery.js"></script>

    </body>
</html>

