<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
<body> 
  <div id="box-wrap">
    <!-- 
    /* ========================================================
    /* Header
    /* --------------------------------------------------------- 
    -->
    <div id="header">
      <h1>Hitchhiking</h1>
      <div class="nav">
        <ul>
           <li><a href="/about/">About</a></li>
           <li><a href="/archive/">Archive</a></li>
        </ul>
    </div> <!-- div header -->

    </div> <!-- class="box-header" -->

    <!-- 
    /* ========================================================
    /* Columns
    /* --------------------------------------------------------- 
    -->
    <div id="columns">
        <!-- Classic 2-column layout -->
        <div class="column left">
            <iframe
                src="https://rejo.zenger.nl/topo/osm/?fn=http://insecure.rejo.zenger.nl/gps/2009-04-18.gpx"
                width="800" 
                height="400" 
                frameborder="0">
            </iframe>
        </div><!-- class="column-left" -->
        
        <div class="column right">
        </div> <!-- class="column right" -->
    </div> <!-- class="columns" -->

    <!-- 
    /* ========================================================
    /* Footer
    /* --------------------------------------------------------- 
    -->
    <div id="footer">
    </div> <!-- id="fotter" -->

</div> <!-- id="box-wrap" -->
</body>
