{% extends "base.html" %}

{% block title %}Hitchhiking - Current Itinerary{% endblock title %}

{% block content %}
<video 
    id="video" autoplay controls
    width="515" height="400">
    <source src="{{ itinerary.video }}" type="video/ogg" />
    <source src="http://www.mariazendre.org/media/video/firsttest.mp4"></source>
    Your Browser doesn't support this video. Update to latest firefox.
</video>
<br />
<iframe 
    src="https://rejo.zenger.nl/topo/osm/?fn=http://mariazendre.org/{% if itinerary.gpx_file %}media/gpx/{{ itinerary.gpx_file }}{% else %}hitchhiking/{{ itinerary.id }}.gpx{% endif %}" 
    width="515" height="320">
</iframe>
{% endblock content %}

{% block textbox %}
<div id="textbox">
    <table id="metainfo">
        <caption>Current Itinerary</caption>
        <tbody>
            <tr class="even">
                <th>Time Running</th>
                <td>{{ itinerary.start_date|timesince }}</td>
            </tr>
            <tr class="odd">
                <th>Start</th>
                <td>{{ itinerary.start }}</td>
            </tr>
            <tr class="even">
                <th>Destination</th>
                <td>{{ itinerary.destination }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock textbox %}
