{% extends "trip.html" %}

{% block title %}Hitchhiking - Current Itinerary{% endblock title %}

{% block textbox %}
<div id="textbox">
    <table id="metainfo">
        <caption>Current Itinerary</caption>
        <tbody>
            <tr class="even">
                <th>Time Running</th>
                <td>{{ itinerary.start_date|timesince }}</td>
            </tr>
            <tr class="odd">
                <th>Start</th>
                <td>{{ itinerary.start }}</td>
            </tr>
            <tr class="even">
                <th>Destination</th>
                <td>{{ itinerary.destination }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock textbox %}
