{% extends "base.html" %}

{% block title %}Hitchhiking - Archive{% endblock title %}

{% block content %}
<div id="listing">
{% for t1, t2, t3 in all_trips %}
<div class="row">
    {% if t1 %}
    <div class="cell">
        <a class="poster" href="http://mariazendre.org/hitchhiking/{{ t1.id }}/"><img src="http://media.mariazendre.org/media/poster/{{ t1.id }}_small.png" alt="t1 poster image" /></a>
        <table class="archive_meta">
            <tr>
                <th>Start:</th>
                <td>{{ t1.start }}<br />{{ t1.start_date|date:"d-m-Y" }} {{ t1.start_date|time:"H:i" }}</td>
            </tr>
            <tr>
                <th>End:</th>
                <td>{{ t1.destination }}<br />{{ t1.end_date|date:"d-m-Y" }} {{ t1.end_date|time:"H:i" }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% if t2 %}
    <div class="cell">
        <a class="poster" href="http://mariazendre.org/hitchhiking/{{ t2.id }}/"><img src="http://media.mariazendre.org/media/poster/{{ t2.id }}_small.png" alt="t2 poster image" /></a>
        <table class="archive_meta">
            <tr>
                <th>Start:</th>
                <td>{{ t2.start }}<br />{{ t2.start_date|date:"d-m-Y" }} {{ t2.start_date|time:"H:i" }}</td>
            </tr>
            <tr>
                <th>End:</th>
                <td>{{ t2.destination }}<br />{{ t2.end_date|date:"d-m-Y" }} {{ t2.end_date|time:"H:i" }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% if t3 %}
    <div class="cell">
        <a class="poster" href="http://mariazendre.org/hitchhiking/{{ t3.id }}/"><img src="http://media.mariazendre.org/media/poster/{{ t3.id }}_small.png" alt="t1 poster image" /></a>
        <table class="archive_meta">
            <tr>
                <th>Start:</th>
                <td>{{ t3.start }}<br />{{ t3.start_date|date:"d-m-Y" }} {{ t3.start_date|time:"H:i" }}</td>
            </tr>
            <tr>
                <th>End:</th>
                <td>{{ t3.destination }}<br />{{ t3.end_date|date:"d-m-Y" }} {{ t3.end_date|time:"H:i" }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
</div> <!-- div row -->
<div class="spacer">&nbsp;</div>
{% endfor %}
</div> <!-- div listing -->
{% endblock content %}

{% block textbox %}
{% endblock textbox %}
