{% extends "hitchhiker/trip.html" %}

{% block title %}Hitchhiking - Past Itinerary{% endblock title %}

{% block textbox %}
<div id="textbox">
    <table id="metainfo">
        <caption>Past Itinerary</caption>
        <tbody>
            <tr class="even">
                <th>Start</th>
                <td>{{ itinerary.start }}<br />{{ itinerary.start_date|date:"d-m-Y" }} {{ itinerary.start_date|time:"H:i" }}</td>
            </tr>
            <tr class="even">
                <th>End</th>
                <td>{{ itinerary.destination }}<br />{{ itinerary.start_date|date:"d-m-Y" }} {{ itinerary.end_date|time:"H:i" }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock textbox %}
