{% extends "hitchhiker/trip.html" %}

{% block title %}Hitchhiking - Past Itinerary{% endblock title %}

{% block textbox %}
<div id="textbox">
    <table id="metainfo">
        <caption>Past Itinerary</caption>
        <tbody>
            <tr class="even">
                <th>When</th>
                <td>{{ itinerary.start_date|date:"d M Y" }} {{ itinerary.start_date|time:"H:i" }}</td>
            </tr>
            <tr class="odd">
                <th>Start</th>
                <td>{{ itinerary.start }}</td>
            </tr>
            <tr class="even">
                <th>Duration</th>
                <td>{{ itinerary.start_date|timesince:itinerary.end_date }}</td>
            </tr>
            <tr class="odd">
                <th>Destination</th>
                <td>{{ itinerary.destination }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock textbox %}
