{% extends "base.html" %}

{% block video %}
<object width="560" height="340" id="lsplayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://cdn.livestream.com/grid/LSPlayer.swf?channel=hitchhikingproject&amp;autoPlay=false"></param><param name="allowScriptAccess" value="always"></param><param name="allowFullScreen" value="true"></param><embed name="lsplayer" wmode="transparent" src="http://cdn.livestream.com/grid/LSPlayer.swf?channel=hitchhikingproject&amp;autoPlay=false" width="560" height="340" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash"></embed></object><div style="font-size: 11px;padding-top:10px;text-align:center;width:560px"></div>

<!--<video 
    id="video" autoplay controls
    width="515" height="400">
    <source src="{{ itinerary.video }}" type="video/ogg" />
    <source src="http://www.mariazendre.org/media/video/firsttest.mp4"></source>
    Your Browser doesn't support this video. Update to latest firefox.
</video>-->
<br />
{% endblock %}

{% block content %}
<iframe id="map_frame" 
    src="https://rejo.zenger.nl/topo/osm/?fn=http://mariazendre.org/{% if itinerary.gpx_file %}media/gpx/{{ itinerary.gpx_file }}{% else %}hitchhiking/{{ itinerary.id }}.gpx{% endif %}" 
    width="515" height="320">
</iframe>
{% endblock content %}

